<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="4" id="se.wiroc.configpg" version="1.0.4" versionCode="4" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>WiRoc Config</name>
    <description>
        Configure WiRoc Devices
    </description>
    <author email="laselase@gmail.com" href="http://wiroc.se">
        Henrik Larsson
    </author>
    <content src="index.html" />
    <icon src="www/res/icon-512x512.png" />
    <access origin="*" />
    <platform name="android" />
    <allow-navigation href="*" />
    <access origin="*" />
    <plugin name="cordova-plugin-http" spec="~1.2.0" />
    <preference name="android-targetSdkVersion" value="30" />
    <preference name="android-minSdkVersion" value="27" />
</widget>
